streamlit>=1.0
opencv-contrib-python~=4.6.0.66
alpha_vantage
yfinance~=0.1.70
pandas>=1.5.0
plotly~=5.24.1
matplotlib~=3.5.1
flask
requests
xlrd
scipy>=1.9.0
openpyxl~=3.1.5
altair~=4.2.0
scikit-learn
Pillow~=11.0.0
numpy_financial~=1.0.0
xlsxwriter
xlwings ~=0.32.0
formulas>=0.2.6
#msvcrt>=0.1.0